.manifestation-container {
    background-color: #FA7F08;
    border-radius: 50px 5px 50px 5px;
    flex: 1 ;
}

.manifestation_container-img {
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    flex: 1;
    object-fit: fill;
}
