.manifestation-container {
    background-color: #74c963de;
    border-radius: 50px 5px 50px 5px;
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    flex: 1;
    transition: all 1s;
}

.manifestation-container:hover {
    transform: scale(1.01);
}

.manifestation_container-img {
    box-shadow: 5px 5px 10px rgb(211, 211, 211);
    flex: 1;
    object-fit: fill;
}

.manifestation_container-paragraph {
    text-align: justify;
}

