.sidebar {
    background-color: #74c963de;
    min-height: 100vh;
    width: 20%;
}

.bg-orange {
    background-color: #74c963de;
}

.navbar_brand-top {
    display: flex;
    align-items:center;
    border-bottom: solid 1px #fefefe;;
}

.navbar_brand-title {
    font-size: 2rem;
    letter-spacing: .15rem;
    margin: 0;
    padding: 0;
    color: #fefefe;
    font-weight: bold;
}


.container-serch {
    position: absolute;
    min-height: 100vh;
    width: 80%;
    right: 0;
}

.container-result {
    min-height: 100vh;
}

.border-bottom {
    font-weight: bold;
    font-size: 1.02rem;
}

.logo-plant {
    color: #fefefe;
 }

.navbar_brand-subtitle {
    font-size: .9rem;
    margin: .3rem 0;
    padding: 0;
    color: #fefefe;
    font-weight: bold;
}
button {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 30px;
    scale: 95%;
    width: auto;
    margin-bottom: 6px;
}
.btn-group-vertical {
    width: 80%;
}

@media (max-width: 991px) {
    .container-serch {
        width: 100%;
        position: static;
    }
}