body {
    background-color: #fafafa;
}


.return-container {
    background-color: #74c963de;
    padding: 10px;
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    box-shadow: 0 0 10px #383838;
}