#treatment{
    background-color: #74c963de;
}

.treatment-container {
    background-color: #fafafa;
    border-radius: 5px 50px 5px 50px;
    box-shadow: 5px 5px 10px rgb(92, 91, 91);
    flex: 1;
    transition: all 1s;
}

.treatment-container-paragraph {
    text-align: justify;
}